
.container{
   position: relative;
}
#main{
    /* margin-bottom: 50px; */
}
#footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
}
.HomeHeader{
    position: relative;
}
.searchBox{
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    z-index: 99;
    background: #fff;
    border-radius: 6px;
    padding: 0 5%;
    height: 35px;
    line-height: 35px;
}
.searchBox i{
    margin-right: 10px;
    color:#ccc;
}
.searchBox span{
    color:#ccc;
}
#swiper1 img{
    width: 100%;
}
#swiper1 .swiper-pagination span{
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 6px;
    background:#999;
    border-radius: 50%;
}
#swiper1 .swiper-pagination .now{
    background:#f60;
}
/* 头条 */
.Notice{
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    line-height: 30px;
    padding:0 15px;
}
.Notice .ico{
    line-height: 30px;
    width: 85px;
    float: left;
    height: 30px;
    border-right: 1px #ccc solid;
    margin-right: 5px;
}
.Notice .ico img{
    width: 80px;
    margin-top: 8px;
    vertical-align: top;
}
/* 头条轮播图 */
#swiper2 {
    overflow: hidden;
    height: 30px;
}
/* 分类导航 */
.classify{
    overflow: hidden;
}
.classify>div{
    float: left;
    text-align: center;
    width: 20%;
    color: #999;
    margin: 10px auto;
}
.classify>div img{
    width: 100%;
}
/* 秒杀倒计时 */
.seckill{
    background-color: #fff;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 15px;
    border-top: 1px solid #EEE;
    line-height: 24px;
}
.seckill b{
    color: #333;
    font-size: 14px;
    margin-right: 5px;
}
.seckill span{
    color: #6B6B6B;
    margin-right: 5px;
}
.seckill i{
    font-style: normal;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #999;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}
/* 秒杀商品轮播图 */
#swiper3 .swiper-slide{
    width: 80%;
}
#swiper3 .swiper-wrapper{
    margin-left: -37.425px;
}
#swiper3 {
    background: #f8f8f8;
}
#swiper3 .swiper-slide .good{
  
    padding: 10px;
    height: 100px;
}
#swiper3 .swiper-slide .good img{
    float: left;
    padding: 5px;
    border-radius: 10px;
}
#swiper3 .swiper-slide .box{
    position: relative;
    height: 100px;
    margin-left: 120px;
}
#swiper3 .swiper-slide .box h5{
    padding: 0;
    margin: 5px 0;
    border-bottom: #eee 1px solid;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
#swiper3 .swiper-slide .box .bt{
    position: absolute;
    bottom: 15px;
    width: 100%;
}
#swiper3 .swiper-slide .box .bt span{
    color: #f44;
    float: left;
}
#swiper3 .swiper-slide .box .bt a{
    background: #5EAFFE;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}
/* 广告区推荐商品 */
.HomeAdvertising .recommend{
    margin: 10px auto;
}
.HomeAdvertising .recommend img{
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}
.recommend img:first-child{
    padding-left: 0px;
}
.recommend img:last-child{
    padding-right: 0px;
}
/*推荐商品 容器 */
.HomeContainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* 推荐商品2 */
.recommend2{
    margin: 10px auto;
}
/* 3保 */
.index_ico{
    text-align: center;
    margin: 10px auto;
}
.index_ico i{
    font-size: 18px;
}
.index_ico span{
    margin-left: 10px;
    color:red;
}
/* 商品列表 */
.goods{
    margin-bottom: 10px;
    height: 265px;
    
}
.goods .pro_item{
    border: #eee 1px solid;
}
.goods .pro_item a{
    color: #999;
    width: 96%;
    display: block;
    margin: 0 auto;
}
.goods .pro_item a img{
    width: 100%;
}
.goods .pro_item p{
    color: #666;
}
.goods .pro_item .tit2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3;
    margin: 5px 0;
    height: 36px;
}
.tag {
    text-align: left;
    height: 22px;
    clear: both;
}
.tag span {
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
    color: #fff;
    margin: 0 5px;
}
.red {
    color: #fb223e;
}
.goodsShow{
    margin-bottom: 50px;
}
.goodsNav{ 
    height: 44px;
    line-height: 44px;
    color: #333;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
}
.current{
    color: #f44;
    border-bottom: 2px solid #f44;
}
/* 底部导航 */
.footer{
    height: 50px;
    padding-top: 4px;
}
.footer>div{
    width: 20%;
    text-align: center;
}
.footer>div i {
    font-size: 18px;
    margin-bottom: 5px;
}
.footer>div p{
    font-size: 12px;
}